@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* roboto font-family: 'Roboto', sans-serif; */
/* * { 
  font-family: "Raleway", sans-serif;we
}*/
body {
  font-family: "Roboto", sans-serif;
  color: black;
}
.main-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  color: rgba(33, 150, 243, 1);
}
.navigations {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
}
.navigations:hover {
  color: rgba(33, 150, 243, 1);
}
.header-hidden {
  visibility: hidden;
  font-size: 0%;
}
.links {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(117, 117, 117, 1);
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 1);
  text-align: center;
}
.button-contact {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
}
.skills {
  list-style: none;
  font-size: 14px;
  line-height: 1.714;
  color: rgba(117, 117, 117, 1);
}
.skill-attention {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
}
.skill-puntuality {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
}
.skill-planning {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
}
.skill-technology {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
}
.header-business {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  color: rgba(33, 33, 33, 1);
  text-align: center;
}
.businesses {
  list-style: none;
}
.header-ourteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  color: rgba(33, 33, 33, 1);
  text-align: center;
}
.teams {
  list-style: none;
  background-color: rgba(245, 244, 250, 1);
}
.header-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  color: rgba(33, 33, 33, 1);
}
.text-team {
  font-size: 16px;
  line-height: 1.171;
  color: rgba(117, 117, 117, 1);
}
.footer {
  background-color: rgba(47, 48, 58, 1);
}
.links-footer {
  list-style: none;
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}
.links-footer:hover {
  color: rgba(33, 150, 243, 1);
}
.link-maps {
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 1);
}
.link-maps:hover {
  color: rgba(33, 150, 243, 1);
}
.filter {
  list-style: none;
}
.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: rgba(33, 33, 33, 1);
  background: rgba(245, 244, 250, 1);
  text-align: center;
  cursor: pointer;
}
.button-filter:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}
.button-filter:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}
.project {
  list-style: none;
}
.header-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: rgba(33, 33, 33, 1);
}
.text-project {
  font-size: 16px;
  line-height: 1.875;
  color: rgba(117, 117, 117, 1);
}
